/******************************************
/* SETUP
/*******************************************/

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

.alignright {
  float: right;
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
  float: left;
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  color: #606161;
  font-size: 24px;
  font-weight: 300;
  line-height: 1.4;
  font-family: 'Open Sans', sans-serif;
  background-color: #f0efef;
}


/******************************************
/* LAYOUT
/*******************************************/

/* Center the container */
#container {
  width: 960px;
  margin: auto;
  background-color: #f0efef
}

header {
  height: 64px;
  background-color: #033048;
  padding: 24px;
}

header h1 {
  color: #f0efef;
  font-weight: 800;
  font-size: 40px;
  float: left;
}

header ul {
  float: right;
  list-style-type: none;
}

header li{
  display: inline-block;
  padding: 10px;
}

header a {
  color: #f9e42e;
  font-size: 24px;
  font-weight: 600;
  text-decoration: none;
}

aside {
  float: left;
  width: 240px;
  padding: 16px;
  margin-left: 20px;
}

.sidebar {
  padding-top: 8px;
  padding-bottom: 8px;
}

section{
  float: left;
  width: 700px;
  padding: 16px;
  margin: 10px;
}

.cta {
  background-color: #f9e42e;
  height: 100px;
  padding-top:32px;
  padding-bottom: 8px;
  text-align: center;
}

footer {
  background-color: #121212;
  text-align: center;
  padding-top: 32px;
  padding-bottom: 16px;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/


.line {
  width: 700px;
  margin-top: 10px;
  margin-bottom: 32px;
  border-bottom: 1px #033048 solid;
  padding-top: 16px;
  padding-bottom: 16px;
  float: left;
}

#button {
    background-color: #033048;
    border: none;
    color: white;
    padding: 16px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    font-weight: 600;
}

section h2 {
  font-size: 40px;
  font-weight: 600;
  padding: 16px 0px;
  color: #033048;
}

section a {
  text-align: right;
  font-weight: 600;
  text-decoration: none;
  color: #033048;
  padding: 16px 0px;
}

section p {
  padding: 16px 0px;
}

section p::first-letter { 
    font-size: 2em;
    vertical-align: text-top;
    float: left;
    display: inline-block;
    margin: .1em .25em -.5em;
}

aside h1 {
  font-size: 32px;
  font-weight: 800;
  color: #033048;
  padding-bottom: 8px;
}

aside a {
  text-decoration: none;
  color: #606161;
}

aside p {
  font-size: 22px;
  padding-bottom: 8px;
}

#aboutLink {
  font-size: 22px;
  font-weight: 600;
  color: #033048;
}

footer h1 {
  color: #f9e42e;
  font-weight: 800;
  font-size: 40px;
}

.social {
  padding-top: 16px;
  padding-bottom: 16px;
}

footer p {
  font-size: 24px;
  font-weight: 300;
  color: white;
}

