.wrapper {
	text-align: center;
}

.wrapper img {
	width: 60%; 
}

body {
	font-size: 16px;
}

h1 {
	font-size: 2em;
	color: white;

}

header {
	background: orange;
	position: fixed; 
	width: 100%;
	transition: all 1.5s;
	height: 50px;
	padding: 10px;
}

.sticky {
	background-color: gold;
	color: white;
}
