.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	}

body {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
}

header {
	height: 500px;
	width: 100%;
	background-image: url("../images/TPMsite-6.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

nav ul {
  float: left;
  list-style-type: none;
}

nav li{
  display: inline-block;
  padding: 20px;
}

nav a {
  font-size: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ba0913;
}

nav a:hover {
	color: rgba(186, 9, 19, 0.7);
}

#mission {
	margin: 20px;
	padding: 130px;
	text-align: center;
	font-size: 26px;
}

section{
	padding: 25px;
}

.activity {
	margin-right: 25px;
	margin-left;
	padding: 25px;
	width: 25%;
	height: 400px;
	float: left;
	background-size: cover;
	background-repeat: no-repeat;
}

#choreography {
	background-image: url("../images/TPMsite-5.jpg");
	background-position: right;
}

#production {
	background-image: url("../images/TPMsite-8.jpg");
	background-position: right;
}

#design {
	background-image: url("../images/TPMsite-9.jpg");
	background-position: center;
}

#aboutKate {
	margin: 20px;
	padding: 100px;
}

#photoBio {
	float: left;
}

#upcoming {
	margin: 20px;
	padding: 100px;
}

footer {

}
