.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	}

body {
	width: 100vw;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
}

.container {
	width: 100%;
	height: 100%;
}

header {
	height: 600px;
}

header h1 {
	font-size: 36px;
	line-height: 1.2;
	font-weight: 600;
	text-align: left;
	position: absolute;
  	left: 750px;
  	top: 300px;
}

header img {
	padding-top: 150px;
	padding-left: 0px; 
}

nav {
	float: right;
	bottom: 0;
	margin-top: 250px;

	/* Safari */
	-webkit-transform: rotate(-90deg);

	/* Firefox */
	-moz-transform: rotate(-90deg);

	/* IE */
	-ms-transform: rotate(-90deg);

	/* Opera */
	-o-transform: rotate(-90deg);

	/* Internet Explorer */
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

nav ul {
  list-style-type: none;
}

nav li{
  display: inline-block;
  padding: 15px;
}

nav a {
  font-size: 20px;
  text-transform: lowercase;
  text-decoration: none;
  color: black;
}

nav a:hover {
	color: #ba0913;
}

hr {
	margin-right: 175px;
	margin-left: 175px;
}

#vision-text {
	margin-left: 175px;
	margin-top: 25px;
	width: 450px;
	text-align: left;
	font-size: 22px;
}

#vision img {
	margin: 0;
	float: right;
	padding-bottom: 50px;
}

#work {
	padding-top: 50px;
}

.activity {
	padding-bottom: 12vw;
}

.rectangle {
    border-width: 4px;
    border-color: rgb(0, 0, 0);
    border-style: solid;
    background-color: rgb(255, 255, 255);
    width: 246px;
    height: 246px;
    content: ".";
    position: absolute;
    display: inline-block;
    float: left;
    left: 15vw;
    z-index: -1;
}

.workImg {
	position: relative;
    float: left;
    left: 18vw;
    top: 3vw;
}

.activity h2 {
	display: inline;
    float: left;
    margin-top: 0;
    margin-left: 17vw;
}

.activity p {
	display: inline-block;
    margin-top: 8vw;
    margin-left: -8vw;
    width: 40vw;
}

#upcoming {
	margin: 20px;
	padding: 100px;
}

footer {
	
}
